.header {
  color: inherit; /* テキスト色を親要素に合わせる */
  text-decoration: none; /* 下線を消す */
  cursor: default; /* マウスカーソルを通常矢印に */
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.right {
  /* clear: right; */
  float: left;
  padding: 5px;
  margin: 5px;
}

.left {
  font-family: "Lucida Grande";
  font-size: 30px;
  padding: 10px;
  margin: 10px;
  /* align-items: left; */
  /* margin-right: auto; */
}

nav li {
  /* align-items: right; */
  /* margin-left: 20px; */
}
