.header {
  color: inherit; /* テキスト色を親要素に合わせる */
  text-decoration: none; /* 下線を消す */
  cursor: default; /* マウスカーソルを通常矢印に */
}

ul {
  display: flex; /*横並びにする*/
  align-items: center; /*縦を揃える*/
  list-style: none;
}

.header {
  text-align: left;
  padding: 10px;
}

.left {
  font-size: 30px;
  margin-right: auto;
}

.right {
  padding: auto;
  margin-left: 20px;
}

.about h2,
.works h2,
.news h2,
.contact h2 {
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}
